@media screen and (max-device-width: 750px) {
    footer  {
        display: none;
    }
    header , footer, body {
        min-width: 0;
    }
    .signIn {
        width:100%;
        margin: 0;
        padding-left: 20px;
    }
    .displayNone {
        display: none !important;
    }
    .search .large {
        display: none;
    }
    .search .small {
        display: block;
        width: 55px;
        height: 51px;
    }
    .search > div {
        width: 100%;
        padding: 0 10px 0 10px;
        margin: 0;
        box-sizing: border-box;
    }
    .basket {
        background-position: 2px -224px;
    }
    .search > div  div{
        width: 45px;
        margin-left: 0;
        border-radius: 50%;
    }
    .search > div > div {
        margin-left:10px;
    }
    .menu > div {
        margin: 0;
        width: 100%;
        padding-left:10px;
        box-sizing: border-box;
    }
    .menu > div > ul li {
        display: none;
    }
    .menu > div > ul li:first-child {
        display: block;
    }
    .menu .lines {
        bottom:-10px;
    }
    .wrapper {
        width: 100%;
        padding: 0 10px 0 10px;
        box-sizing: border-box;
    }
    .wrapper .column1 {
        width: 100%;
        margin: 0 auto;
    }
    .wrapper .block {
        display: none;
    }
    .wrapper .catalog {
        flex-wrap: wrap;
        padding: 25px;
        justify-content: flex-start;
    }
    .wrapper ul {
        width: 45%;
    }
    .popular {
        display: block;
    }
    .popular > span {
        width: 100%;
        padding-left: 70%;
        box-sizing: border-box;
    }
    .popular > span:first-child{
        width: 100%;
        padding-left:0;
    }
    .popular > div {
        margin: 0 auto;
        border: none;
        width: auto;
    }
    .news ul {
        flex-wrap: wrap;
        width: 100%;
    }
    .news li {
        width:auto;
    }
}