@media screen and (max-device-width: 750px) {
    body {
        font-size:20px;
    }
    header , footer, body {
        min-width: 0;
    }
    .signIn {
        width: cacl(100% - 40px);
    }
    .signIn > span {
        display: none;
    }
    .signIn > a {
        visibility: hidden;
    }
    .signIn .enter {
        visibility: visible;
    }
    .signIn .enter .arrow {
        margin-left: 0;
    }
    .signIn .enter span {
        display: block;
        width: 40px;
    }
    .signIn .green {
        display: block;
        width: 70px;
    }
}