@media screen and (max-device-width: 750px) {
    header , footer, body {
        min-width: 0;
    }
    .signIn , .wrapper  {
        width: calc(100% - 40px);
    }
    .signIn > span {
        display: none;
    }
    .signIn > a {
        visibility: hidden;
    }
    .signIn .enter {
        visibility: visible;
    }
    .signIn .enter .arrow {
        margin-left: 0;
    }
    .signIn .enter span {
        display: block;
        width: 40px;
    }
    .signIn .green {
        display: block;
        width: 70px;
    }
    .search .large {
        display: none;
    }
    .search .small {
        display: block;
        width: 55px;
        height: 51px;
    }
    .search > div {
        width: calc(100% - 40px);
    }
    .search form {
        width: auto;
    }
    .menu > div {
        width: calc(100% - 40px);
    }
    .menu li {
        display: none;
    }
    .menu li:first-child {
        display: block;
        color: #256892;
    }
    .wrapper .column2 {
        display: none;
    }
}